.heading {
  font-size: 4rem;
}

.container {
  display: flex;
  justify-content: center;
}

.maincontent {
  flex: 6;
  max-width: 75%;
}

@media (max-width: 768px) {
  .main-content {
    flex: 1;
    max-width: 100%;
  }
}