.container {
    display: flex;
    justify-content: center;
}

.maincontent {
    flex: 6;
    max-width: 75%;
}

@media (max-width: 768px) {
    .main-content {
        flex: 1;
        max-width: 100%;
    }
}

.todoContainer {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.todoTitle {
    font-size: larger;
    font-weight: 500;
}

.todoTitle:nth-child(2n) {
    background-color: red;
}

.todoDescription {
    font-size: small;
    font-weight: 200;
}